h1{
  box-sizing: border-box;

}
h2{
  box-sizing: border-box;
  color:rgb(255, 218, 253);
}



#name{
  background-color: rgb(75, 39, 95);
  width: 20vw;
  min-width: 200px;
  padding: 20px;
}

.tw{
  width: 200px;
}
