<nb-tabset fullWidth>
  <nb-tab tabTitle="About">
    <nb-card class="text-center h-100">
      <nb-card-body class="h-100">
        <p>Self taught, Coding Dojo alumni with 2+ years of coding experience. Started as a self taught programmer with python who went on to win a gold medal at a game jam and graduate second highest in my class at Coding Dojo.</p>
      </nb-card-body>
    </nb-card>
  </nb-tab>
  <nb-tab tabTitle="Projects & Contracts">
      <app-projects></app-projects>
  </nb-tab>
  <nb-tab tabTitle="Skills">
      <app-skill-list></app-skill-list>
  </nb-tab>
</nb-tabset>
